footer
  .container.text-center
    p.pull-left &copy; 2017 
        a(href='https://wikibingo.com') WikiBingo
    ul.pull-right.list-inline
      li
        span By 
            a(href='https://kimbratzel.com') Kim Bratzel